*, *::before, *::after {box-sizing: border-box; }

*{outline: none !important; margin: 0; padding: 0}
:root {
	--accent: #1e73be;
	--black: #000000;
	--border: #E5E5E5;
	--error: #F2545B;
	--font-family:calibri;
	--global-color-primary: #417099;
	--global-color-text: #2F373C;
	--h1: 60px;
	--h2: 50px;
	--h3: 30px;
	--h4: 25px;
	--h5: 20px;
	--h6: 15px;
	--primary-fonts: 40px;
	--sub-head:20px;
	--text: 16px;
	--transparent: rgba(0,0,0,0);
	--white: #FFFFFF;
}

body{line-height: 1.2; font-size: var( --text); font-family: var(--font-family); font-weight: 400; }
a{color:var(--black);}
a:hover{color: var(--border);}
address {margin-bottom: 1rem; font-style: normal; line-height: inherit;}


h1,h2,h3,h4{ margin: 30px 0; display: block; line-height: 2;}
H1, .h1{font-size:var(--h1);}
h2{font-size:var(--h2);}
h3{font-size:var(--h3);}
h4{font-size:var(--h4);}
h5,h6{margin: 20px 0; line-height: 1.5;}
h5{font-size:var(--h5);}
h6{font-size:var(--h6);}
input, textarea, select{-webkit-appearance: none; -moz-appearance:none; appearance:none;}
input:focus, input:active, input:hover, textarea:focus, textarea:active, textarea:hover{outline:none !important;box-shadow:none !important;}

input[type="text"]:-moz-placeholder{/* Firefox 18- */ opacity: 1;}
input[type="text"]:-ms-input-placeholder{/* IE 10+ */ opacity: 1;}
input[type="text"]::-moz-placeholder{/* Firefox 19+ */ opacity: 1;}
input[type="text"]::-webkit-input-placeholder{/* Chrome/Opera/Safari */ opacity: 1;}

.bg > img{visibility: hidden; opacity: 0; position: static; top: inherit; left: inherit;right: inherit;bottom: inherit;}
.bg{background-size: cover !important; background-position: center center !important; background-repeat: no-repeat !important;}


ul, ol{}
li{}
p{}

small{}
span{}
b,strong{}
blockquote{ padding: 15px; background-color: var(--border); border-left: 5px solid var(--black); font-size: var(--text); line-height: 1.8;}

--------------
.container{max-width: 100%; width: 100%; display:block; margin: 0 auto; padding: 0 15px;}
.content{}
section, header, footer,.item,.content{float: left; width: 100%;}

.btn-bg:focus, .btn-bg:hover, .btn-bg:active{background-color: var(--border); color: var(--black);}
.btn-bg{border:2px solid var(--black); background-color: var(--black); color: var(--white);}
.btn-border:focus, .btn-border:hover, .btn-border:active{background-color: var(--black); color: var(--white);}
.btn-border{border:2px solid var(--black); background-color: transparent; color: var(--black);}
.btn:focus, .btn:hover, .btn:active{outline: none; text-decoration: none;}
.btn{ min-width: 120px; min-height: 60px; line-height: 56px; font-family: var(--font-family); font-weight: bold; display: inline-block; padding: 0 10px;margin:0;}

.clear, .clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{clear:both;}
.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after{content:"";display:table;table-layout:fixed;}

.transform-translate50{transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); }
.transform-translateX50{transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); }
.transform-translateY50{transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); }
.transition02, .btn, .btn-bg, .btn-border {-webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s;}


.row>*{max-width: 100%;-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;padding:0 15px;}
.row{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox; display:-moz-flex;display:-webkit-flex;display:flex; margin: 0 -15px;}

.col-10{width:83.3333333333%;}
.col-11{width:91.6666666667%;}
.col-12{width:100%;}
.col-1{width:8.3333333333%;}
.col-20{width:20%;}
.col-2{width:16.6666666667%;}
.col-30{width:30%;}
.col-3{width:25%}
.col-40{width:40%;}
.col-4{width:33.3333333333%}
.col-5{width:41.6666666667%;}
.col-60{width:60%;}
.col-6{width:50%}
.col-70{width:70%;}
.col-7{width:58.3333333333%;}
.col-80{width:80%;}
.col-8{width:66.6666666667%;}
.col-9{width:75%;}
.col-p{padding:0 15px;}

.d-flex{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox; display:-moz-flex;display:-webkit-flex;display:flex;}
.d-inlineflex{display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex;}
.f-left{float:left;}
.f-right{float:right;}
.flex-align-items-center{-webkit-align-items: center; -ms-flex-direction: center; align-items: center;}
.flex-column{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.flex-justify-center{-webkit-justify-content:center;-ms-justify-content:center; justify-content:center;}
.flex-row{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}
.flex-wrap{flex-wrap: wrap; -webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.items-block{}




.order-1{-webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; -ms-flex-order: 1; -webkit-order: 1; order: 1;}
.order-2{-webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; -ms-flex-order: 2; -webkit-order: 2; order: 2;}

.site-content{}
.site-footer{}
.site-header{}
.wrapper{}
.item{}
.logo a img{max-width:100%;max-height:auto;}
.logo a{display:block;}
.logo{display:block;width:268px;max-width:268px;margin:0;padding:0;}


/**************************************************Responsive**************************************************/
@media(min-width: 1451px){}
@media(max-width: 1600px) and (min-width: 1451px){}
@media(max-width: 1450px){}
@media(max-width: 1366px){}
@media(max-width: 1250px){}
@media(max-width: 1199px){}
@media(max-width: 991px){}
@media(max-width: 767px){}
@media(max-width: 480px){}
@media(max-width: 374px){}css
